.search-button {
  display: flex;
  justify-content: center;
}
.search-button button {
  padding: 10px 21px;
  background: white;
  color: #e27a3f;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.2s ease-out;
  outline: 0;
  border-color: #e27a3f;
  border-width: 2px;
  border-radius: 7px;
}
.search-button button:hover{
  background-color: #e27a3f;
  color: white;
}


