.slider {
  margin-bottom: 40px;
}

.slider label {
  color: #555;
  font-size: 1rem;
  margin-bottom: 20px;
  display: block;
  text-transform: capitalize;
}

.input-range__slider {
  background: #e27a3f;
  border: none;
}
